
h1{text-align: center;}


 table tr th, td {border: 1px solid black;
                  padding:5px;
                  padding-right:100px;
                  text-align: center;}



.container1{
       background: beige;
       height:10vh;
       display : flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center; }

.head{border:1px solid beige;
      width:140px;
      height:100vh;}


                  